<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/min/style.min.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav>
            
            <img src="/images/logo.png" alt="Look Live">
        
             <ul>
                <li><a href="#feed">Home</a></li>
                <li><a href="/discover/">Latest</a></li>
                <li><a href="/people/">People</a></li>
                <li><a href="/shows/">Shows</a></li>
                <li><a href="/music/">Music</a></li>
                <li><a href="/brands/">Brands</a></li>
            </ul>
        </nav>
        
         <section>
            <img src="/images/header-small.jpg"
                 srcset="/images/header-small.jpg 480w, /images/header-medium.jpg 960w, /images/header-org.jpg 1920w"
                 alt="header img">
        </section>

        <a href="#red" id="loadmore">Load more</a>
        
        <main>
        
            <!-- {{{body}}} -->
        </main>

        <script src="/min/libs.min.js"></script>
        <script src="/min/app.min.js" ></script>
    </body>
</html>
